/* form */
input:where([type=submit]) {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  padding: 4px 16px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #555;
  }
}